$yellow: #ffc400;
$orange: #F07C5B;
$green:  rgb(70, 197, 173);
$purple: rgb(176, 118, 185);
$pink: rgb(254, 116, 179);

.dobus {
    margin-top:5rem;
    h2 {
        background: -webkit-linear-gradient(left, $yellow ,$orange, $purple); /* For Safari 5.1 to 6.0 */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3.5rem;
        font-weight: bold;
    }
}